<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="container">
<a href="/celebrities/newCelebrity" class="btn btn-primary">create celebrity</a>
<a href="/clebrities/listCelebrities" class= "btn btn-primary">list celebrity</a><br>
 </div>
<div class="container">
<a href="/movies/newMovie" class="btn btn-primary my-4">create movie</a>
<a href="/movies/listMovies" class= "btn btn-primary">list movies</a><br>
 </div>
